<div class="container border rounded pb-5" style="margin-top: 50px; margin-bottom: 20px; width: 620px;">
  <div class="text-center my-5">
    <h3>新規会員登録</h3>
  </div>

<div class="row">
  <div class="col-sm-8 offset-sm-2">

    <%= form_with(model: @user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="mb-4">
        <p><%= f.label :name, 'ニックネーム' %></p>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-4">
        <p><%= f.label :email, 'メールアドレス' %></p>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="mb-4">
        <p><%= f.label :password, 'パスワード' %></p>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="mb-4">
        <p><%= f.label :password_confirmation, 'パスワード(確認用)' %></p>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="d-flex justify-content-center py-2">
        <%= f.submit '登録する', class: 'btn btn-success w-50' %>
      </div>
    <% end %>
      <div class="d-flex justify-content-center py-2">
        <p></p><%= link_to 'すでに会員の方はこちら', login_path %></p>
      </div>
  </div>
</div>