<div class="container style="padding: 0 30px; width: 900px;">
  <div class="text-center text-black" style="margin: 80px;">
      <p>猫好きなみなさんの</p>
      <p>"I ♥ CAT"な想いを聞かせてください。</p>
  </div>
  
  <div class="container" style="width: 900px;">
    <div class="row">
      
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">  
         <%= link_to image_tag("/assets/001_s.jpg", class: "card-img-top" ), item_path(id:2) %>
        <div class="card-body">
          <p class="card-text">スコティッシュフォールド</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/002_s.jpg", class: "card-img-top" ), item_path(id:3) %>
        <div class="card-body">
          <p class="card-text">マンチカン</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px ;">
        <%= link_to image_tag("/assets/003_s.jpg", class: "card-img-top" ), item_path(id:4) %>
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/004_s.jpg", class: "card-img-top" ), item_path(id:5) %>
        <div class="card-body">
          <p class="card-text">アメリカン<br>ショートヘア</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/005_s.jpg", class: "card-img-top" ), item_path(id:6) %>
        <div class="card-body">
          <p class="card-text">ベンガル</p>
        </div>
      </div>
      
      
    </div>
      
    <div class="row">
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/006_s.jpg", class: "card-img-top" ), item_path(id:7) %>
        <div class="card-body">
          <p class="card-text">ノルウェージャンフォレストキャット</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/007_s.jpg", class: "card-img-top" ), item_path(id:8) %>
        <div class="card-body">
          <p class="card-text">ブリティッシュショートヘアー</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
       <%= link_to image_tag("/assets/008_s.jpg", class: "card-img-top" ), item_path(id:9) %>
        <div class="card-body">
          <p class="card-text">エキゾチック<br>ショートヘアー</p>
        </div>
      </div>
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/009_s.jpg", class: "card-img-top" ), item_path(id:10) %>
        <div class="card-body">
          <p class="card-text">ラグドール</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <%= link_to image_tag("/assets/010_s.jpg", class: "card-img-top" ), item_path(id:11) %>
        <div class="card-body">
          <p class="card-text">メインクーン</p>
        </div>
      </div>
      
    </div>  
  </div>
</div>